* {
	padding: 0;
	margin: 0;
	-webkit-transition-duration: 0.6s;
	-o-transition-duration: 0.6s;
	transition-duration: 0.6s;
}
a {
	color: #7b3f00;
}
a:hover {
	color: #D33BB7;
}

.banana {color: #ffe125;}
.complement {color: #331832;}
.chocolate {color: #7b3f00;}
.milk {color: #f3e5ab;}
.licorice {	color: #1b1811;}

header {
	padding-top: 40px;
	background-color: #7b3f00;
	text-align: center;
}
header h1 {
	font-family: 'Oleo Script', cursive;
	font-size: 80px;
	text-shadow: 0px 2px 0px #DDD19C, 0px -5px 0px #653400;
}
header h2 {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
}
header div {
	background-color: #7b3f00;
	width: fit-content;
	margin: auto;
}
nav {
	background-color: #7b3f00;
	padding-top: 30px;
}
nav button {
	background-color: #f3e5ab;
	border-radius: 2px;
	border: none;
	box-shadow: 0px 2px 0px #DDD19C, 0px -5px 0px #653400;
	color: #7b3f00;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: bold;
	margin-left: 6px;
	margin-right: 6px;
	padding: 5px;
	text-decoration: none;
}
nav button:hover {
	-webkit-transform: rotate(-7deg) scale(1.1);
	-ms-transform: rotate(-7deg) scale(1.1);
    	transform: rotate(-7deg) scale(1.1);
    color: #D33BB7;
    cursor: pointer;
}
nav button:focus {
	outline: none;
}
.chocodrip {
	height: 90px;
	background: url("../assets/drip.svg");
	background-repeat: repeat-x;
	background-position: center;
	border: 0px;
}

body {
	background: -webkit-gradient(linear, left top, left bottom, from(#ffe135), to(#FFE056));
	background: -webkit-linear-gradient(top, #ffe135 0%, #FFE056 100%);
	background: -o-linear-gradient(top, #ffe135 0%, #FFE056 100%);
	background: linear-gradient(to bottom, #ffe135 0%, #FFE056 100%);
	background-attachment: fixed;
	font-family: 'Lato', sans-serif;
}

main {
	margin-top: 50px;
}

.activity {
	padding: 10px;
	width: 800px;
	min-height: 100px;
	margin: auto;
	font-family: 'Lato', sans-serif;
	border-radius: 10px;
	margin-bottom: 80px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.odd.activity:hover > .activity_icon {
	-webkit-transform: rotate(7deg) scale(1.1);
    	-ms-transform: rotate(7deg) scale(1.1);
        	transform: rotate(7deg) scale(1.1);
}
.even.activity:hover > .activity_icon {
	-webkit-transform: rotate(-7deg) scale(1.1);
    	-ms-transform: rotate(-7deg) scale(1.1);
        	transform: rotate(-7deg) scale(1.1);
}
.odd {
	-webkit-transform: rotate(-1deg);
	    -ms-transform: rotate(-1deg);
	        transform: rotate(-1deg);
}
.even {
	-webkit-transform: rotate(1deg);
	    -ms-transform: rotate(1deg);
	        transform: rotate(1deg);
}
/*.odd:hover {
	-webkit-transform: rotate(1deg);
	    -ms-transform: rotate(1deg);
	        transform: rotate(1deg);
}
.even:hover {
	-webkit-transform: rotate(-1deg);
	    -ms-transform: rotate(-1deg);
	        transform: rotate(-1deg);
}*/
.odd .activity_icon {
	margin-right: 20px;
}
.even .activity_icon {
	margin-left: 20px;
}
.even .activity_text {
	text-align: right;
}
.activity_icon {
	height: inherit;
	width: 200px;
}
.activity_icon img {
	width: 100%;
}
.activity_text {
	width: 100%;
}
.activity_title {
	font-family: 'Oleo Script', cursive;
	font-size: 30px;
	text-shadow: 0px 3px 0px #D1B92C;
}
.activity_title a {
	text-decoration: none;
}
.activity_date {
	margin-top: 5px;
	margin-bottom: 10px;
}
.activity_description {
	font-size: 20px;
	line-height: 1.2;
}