---
---

@import "variables";

* {
	padding: 0;
	margin: 0;
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
a {
	color: $chocolate;
}
a:hover {
	color: $sprinkles;
}

.chocolate { color: $chocolate; }
.licorice {	color: $licorice; }
.milk { color: $milk; }
.sprinkles { color: $sprinkles; }

header {
	padding-top: 40px;
	background-color: $chocolate;
	text-align: center;
}
header h1 {
	font-family: 'Oleo Script', cursive;
	font-size: 80px;
	text-shadow: 0px 2px 0px $milk_light, 0px -5px 0px $chocolate_shadow;
}
header h2 {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
}
header div {
	background-color: $chocolate;
	width: fit-content;
	margin: auto;
}
nav {
	background-color: $chocolate;
	padding-top: 30px;
}
button {
	background-color: $milk;
	border-radius: 5px;
	border: none;
	box-shadow: 0px 2px 0px $milk_light, 0px -5px 0px $chocolate_shadow;
	color: $chocolate;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: bold;
	margin-left: 7px;
	margin-right: 7px;
	padding: 5px;
	text-decoration: none;
}
button:hover {
	-webkit-transform: rotate(-7deg) scale(1.1);
	-ms-transform: rotate(-7deg) scale(1.1);
		transform: rotate(-7deg) scale(1.1);
	box-shadow: 0px 2px 0px $milk_light, 0px -2px 0px $chocolate_shadow;
	color: $sprinkles;
	cursor: pointer;
}
button:focus {
	outline: none;
}
button.active {
	background-color: $chocolate_shadow;
	box-shadow: 0px 2px 0px $chocolate_shadow, 0px -3px 0px $chocolate_shadow;
	color: $banana;
}
button.active:hover {
	-webkit-transform: none;
	-ms-transform: none;
		transform: none;
	cursor: default;
}
.chocodrip {
	height: 90px;
	background: url("../assets/drip.svg");
	background-repeat: repeat-x;
	background-position: center;
	border: 0px;
}

body {
	background: -webkit-gradient(linear, left top, left bottom, from(#ffe135), to(#FFE056));
	background: -webkit-linear-gradient(top, #ffe135 0%, #FFE056 100%);
	background: -o-linear-gradient(top, #ffe135 0%, #FFE056 100%);
	background: linear-gradient(to bottom, #ffe135 0%, #FFE056 100%);
	background-attachment: fixed;
	font-family: 'Lato', sans-serif;
}
main {
	width: 90%;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 40px;
}

article, .description {
	background-color: $milk;
	border-radius: 10px;
	box-shadow: 0px 2px 0px $milk_light;
	line-height: 1.2;
	padding: 30px;
}
.description {
	font-size: 18px;
	margin-bottom: 40px;
	text-align: center;
}
.activity {
	-ms-flex-align: center;
	-ms-flex-pack: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	align-items: center;
	border-radius: 10px;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	font-family: 'Lato', sans-serif;
	justify-content: center;
	margin-bottom: 40px;
	min-height: 100px;
	padding: 10px;
}
a.activity {
	text-decoration: none;
}
.activity_border {
	border-left: 6px solid $chocolate;
	padding-left: 20px;
}
.odd.activity:hover > .activity_icon {
	-webkit-transform: rotate(7deg) scale(1.1);
		-ms-transform: rotate(7deg) scale(1.1);
			transform: rotate(7deg) scale(1.1);
}
.even.activity:hover > .activity_icon {
	-webkit-transform: rotate(-7deg) scale(1.1);
		-ms-transform: rotate(-7deg) scale(1.1);
			transform: rotate(-7deg) scale(1.1);
}
/* .odd {
	-webkit-transform: rotate(-1deg);
		-ms-transform: rotate(-1deg);
			transform: rotate(-1deg);
}
.even {
	-webkit-transform: rotate(1deg);
		-ms-transform: rotate(1deg);
			transform: rotate(1deg);
} */
.odd .activity_icon {
	margin-right: 20px;
}
.even .activity_icon {
	margin-left: 20px;
}
.even .activity_text {
	text-align: right;
}
.activity_icon {
	height: inherit;
	width: 200px;
}
.activity_icon img {
	width: 100%;
}
.activity_text {
	width: 100%;
}
.activity_title {
	font-family: 'Oleo Script', cursive;
	font-size: 30px;
	text-shadow: 0px 3px 0px $banana_shadow;
}
.activity_title a {
	text-decoration: none;
}
.activity_date {
	margin-top: 5px;
	margin-bottom: 10px;
}
.activity_description {
	font-size: 20px;
	line-height: 1.2;
}

article {
	font-size: 20px;
}
.back {
	font-size: 14px;
	left: 4px;
	margin: 0;
	position: relative;
}
.back svg {
	margin: 0;
}
article * {
	margin-bottom: 20px;
}
article h1 {
	color: $chocolate;
	font-family: 'Oleo Script', cursive;
	font-size: 40px;
	text-align: center;
	text-shadow: 0px 3px 0px $banana_shadow;
	margin-bottom: 0;
}
article h2 {
	font-size: 30px;
	padding-top: 10px;
	text-align: center;
	text-decoration: underline;
}
article h3 {
	font-size: 23px;
	padding-top: 10px;
	text-align: center;
	text-decoration: underline;
}
article p {
	line-height: 1.3;
	text-align: justify;
}
article blockquote {
	font-style: italic;
	line-height: 1.3;
	text-align: center;
}
article button {
	background-color: $chocolate;
	border-radius: 10px;
	box-shadow: 0px 2px 0px $milk_light;
	color: $milk;
	display: flex;
	font-size: 30px;
	margin: auto;
	padding: 10px;
	text-align: center;
}
article button.small_button {
	font-size: 23px;
}
article a button {
	text-decoration-line: none;
}
article button .fa-file-alt {
	font-size: 30px;
	margin-bottom: 0;
	margin-left: 10px;
}
article button.small_button .fa-file-alt {
	font-size: 23px;
}
.details {
	color: $chocolate;
	font-size: 16px;
	font-style: italic;
	margin-top: 10px;
	text-align: center;
	width: 100%;
}

.images {
	margin: auto;
}
.images img {
	border-radius: 10px;
	margin: 0;
	width: 32.6%;
}

/* Small Screen */
@media all and (min-width: 1200px) {
	main {
		width: 1100px;
	}
}
@media all and (max-width: 600px) {
	article p {
		font-size: 3.2vw;
	}
}