---
layout: main
permalink: /activiteiten/index.html
---
<main>
	<div class="description">
		Hieronder een kort overzicht van <u>alle</u> activiteiten waaraan ik heb meegedaan. Een aantal van deze zijn wat dieper besproken op de <a href="/selectie/">selectie pagina</a>.
	</div>
	<div class="activity_list">
	  	{% for activity in site.activities %}
	  		<div class="activity activity_border chocolate">
	  			<div class="activity_text">
		  			<div class="activity_title">
		  				{% if activity.link != "" %}
		  					<a href="{{ activity.link }}" target="_blank">
		  						{{ activity.title }} <i class="fas fa-link"></i>
		  					</a>
		  				{% else %}
		  					{{ activity.title }}
		  				{% endif %}
		  			</div>
		  			<div class="activity_date licorice">
		  				duur : {{ activity.period }}</br>
		  				locatie : {{ activity.location }}</br>
		  				categorie : {{ activity.category }}
		  			</div>
		  			<div class="activity_description licorice">
		  				{{ activity.short }}
		  			</div>
		  		</div>
	  		</div>
	  	{% endfor %}
  	</div>
</main>

<footer></footer>

<!--<script src="js/scripts.js"></script>-->