---
layout: main
---
<main>
  	{% for activity in site.activities %}
  		{% capture var %}{% cycle 'odd', 'even' %}{% endcapture %}
  		<div class="activity chocolate {{ var }}">
  			{% if var  == 'odd' %}
  				<div class="activity_icon">
  					<img src="assets/logos_aclister.svg">
  				</div>
  			{% endif %}
  			<div class="activity_text">
	  			<div class="activity_title">
	  				{% if activity.link != "" %}
	  					<a href="{{ activity.link }}" target="_blank">
	  						{{ activity.name }}
	  					</a>
	  				{% else %}
	  					{{ activity.name }}
	  				{% endif %}
	  			</div>
	  			<div class="activity_date licorice">
	  				{{ activity.date | date_to_long_string }}
	  			</div>
	  			<div class="activity_description licorice">
	  				{{ activity.content }}
	  			</div>
	  		</div>
	  		{% if var  == 'even' %}
  				<div class="activity_icon">
					<img src="assets/logos_aclister.svg">
  				</div>
  			{% endif %}
  		</div>
  	{% endfor %}
	</main>

	<footer>
</footer>

<!--<script src="js/scripts.js"></script>-->