---
layout: main
---
{% for activity in site.activities %}
{% if activity.selection %}
			{% capture var %}{% cycle 'odd', 'even' %}{% endcapture %}
			<a href="{{ activity.url }}" class="activity chocolate {{ var }}">
			{% if var == 'odd' %}
				<div class="activity_icon">
					<img src="/assets/logos_aclister.svg">
				</div>
			{% endif %}
			<div class="activity_text">
				<div class="activity_title">
						{{ activity.title }}
				</div>
				<div class="activity_date licorice">
					{{ activity.date | date_to_long_string }}
				</div>
				<div class="activity_description licorice">
					{{ activity.short }}
				</div>
			</div>
			{% if var == 'even' %}
				<div class="activity_icon">
					<img src="/assets/{{ activity.icon }}">
				</div>
			{% endif %}
		</a>
	{% endif %}
{% endfor %}