---
layout: main
title: Selectie Activiteiten
permalink: /selectie/
---
<div class="description">
	Hieronder is een selectie activiteiten die ik wat dieper wil bespreken.</br>
	Een kort overzicht van <u>alle</u> activiteiten waaraan ik heb meegedaan zie je op de <a href="/activiteiten/">overzicht pagina</a>.
</div>
<div class="activity_list">
{% for activity in site.activities %}
{% if activity.selection %}
			{% capture var %}{% cycle 'odd', 'even' %}{% endcapture %}
			<a href="{{ activity.url }}" class="activity chocolate {{ var }}">
			{% if var == 'odd' %}
				<div class="activity_icon">
					<img src="/assets/{{ activity.icon }}" />
				</div>
			{% endif %}
			<div class="activity_text">
				<div class="activity_title">
						{{ activity.title }}
				</div>
				<div class="activity_date licorice">
					{{ activity.date | date_to_long_string }}
				</div>
				<div class="activity_description licorice">
					{{ activity.short | strip_html }}
				</div>
			</div>
			{% if var == 'even' %}
				<div class="activity_icon">
					<img src="/assets/{{ activity.icon }}" />
				</div>
			{% endif %}
		</a>
	{% endif %}
{% endfor %}
</div>