// Colors
$chocolate: hsl(31, 100%, 24%);
$chocolate_shadow: hsl(31, 100%, 20%);
$sprinkles: hsl(311, 63%, 53%);
$milk: hsl(48, 75%, 81%);
$milk_light: hsl(48, 49%, 74%);
$licorice: hsl(42, 23%, 9%);
$banana: #ffe125;
$banana_shadow: hsl(52, 100%, 44%);